
body{
  background:linear-gradient(to top right, #FF5722, #268c94de);
}
.app{
  margin-top:20vh;
}
.header{
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 8px 55px;
  font-weight: 300;
  position: fixed;
  color: white;
  background: #212324;
  width:100vw;
  font-size:14px;
  top:0;

}
.prettyprint{
  height:100%;
  width: 100% !important;
  margin:auto !important;
  padding:0 !important;
  border-radius: 0px !important;
}
.lesson{
  border: 3px solid #444;
  display: flex;
  flex-direction:column;
  margin-left:10vw;
  margin-right:10vw;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #3a3a3a ,#000);
  @media(max-width:768px){
    margin-left:0vw;
    margin-right:0vw;
    border-radius: 0px;
  }


  p{
    display: flex;
    flex: 1;
    padding:2vw;
    color:#fff;
  }
  .example-container{
    display: flex;
    flex: 1;
    @media(max-width:768px){
      flex-direction: column;
    }
    .code{
      display: flex;
      flex:1;
      flex-direction:column;
      background: linear-gradient(to right, #77889912, #b9c9d029);
      color: #b9c9d0;
      strong{
        text-align: center;
        padding: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
      }
      font-size: 10px;
    }
    .example{
      display: flex;
      flex:2;
      flex-direction:column;
      border-top: 2px solid #555;
      background: linear-gradient(to right, #77889912, #b9c9d029);
      padding:15px;
    }
  }
}

.blobs-container{
  padding: 2vw;
  display: flex;
}

.blob{
      background: #a82a47;
      color:#fff;
  display: flex;
  border: 1px solid #000;
  text-align: center;
  padding:15px;
}

.blob h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.blobs-stretch-container{
  padding: 2vw;
  display: flex;
  flex-direction: row;
}
.blob-stretch{
      background: #a82a47;
      color:#fff;
  display: flex;
  border: 1px solid #000;
  text-align: center;
  padding:15px;
  flex:1;
}

.blob-stretch h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.blobs-max-height-container{
  padding: 2vw;
  display: flex;
  flex-direction: row;
}
.blob-max-height{
      background: #a82a47;
      color:#fff;
  border: 1px solid #000;
  text-align: center;
  padding:15px;
  display: flex;
  flex:1;
}
.x2{
  flex:2;
  background:#d3820a;
}
.blob-max-height h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}